.picsStyle{
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 30px;
    width: 45px;
    border-radius: 15px;
    background-color: #FAFAF9;
    border-color: #F2F2F1;
}

.pointersStyle{
    cursor: pointer;
}


.border{
    border: 1px solid black;
}
