@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IranSanse;
  src: url(./Font/IranSans.ttf);
}

body {
  background-color: #f3f3f3;
  font-family: IranSanse;
}

/*------------------------ Login calsses -------------------------*/
@layer components {
  .InputHolder {
    @apply text-[14px] text-[#C7C7C7] transition duration-500 overflow-hidden
           drop-shadow-[-3px_3px_6px_rgba(0,0,0,0.1)] flex justify-end 
           w-[310px] h-[42px] bg-white border-2 border-[#F8F8F8] rounded-[10px];
  }

  .InputHolder:hover {
    @apply drop-shadow-[-3px_3px_6px_rgba(0,0,0,0.3)];
  }

  .InputHolder > input {
    @apply outline-none w-[86%] indent-[15px] focus:text-[#000000];
  }

  .ResponsiveIMG {
    @apply block mt-[20px] max-md:hidden
           max-lg:w-1/3 max-lg:h-[300px] max-lg:mt-[100px]  
           mix-blend-darken  w-1/2 h-3/4;
  }
}

/*----------------- Header classes --------------------*/
@layer components {
  .HeaderPics {
    @apply cursor-pointer bg-no-repeat bg-[20px] 
      bg-center h-[30px] w-[45px] rounded-[15px]
     bg-[#FAFAF9] border-[#F2F2F1] border-[2px]
     drop-shadow-[-3px_3px_6px_rgba(0,0,0,0.2)];
  }

  .SelectedMenu {
    @apply text-[#D4AF37] border-b-4 border-[#D4AF37] transition-all;
  }
}
