@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IranSanse;
  src: url(./Font/IranSans.ttf);
}

body {
  background-color: #f5f5f4;

  font-family: IranSanse;
}

/*------------------------ Login/SignUp/ForgetPass calsses -------------------------*/
@layer components {
  .InputHolder {
    @apply text-[14px] text-[#C7C7C7] transition duration-500 overflow-hidden
           drop-shadow-[-3px_3px_6px_rgba(0,0,0,0.1)] flex justify-end 
           w-[100%] h-[42px] bg-white border-2 border-[#F8F8F8] rounded-[10px];
  }

  .InputHolder:hover {
    @apply drop-shadow-[-3px_3px_6px_rgba(0,0,0,0.3)];
  }

  .InputHolder > input {
    @apply outline-none w-[86%] indent-[15px] focus:text-[#000000];
  }

  .ResponsiveIMG {
    @apply block mt-[80px]  max-md:hidden
           max-lg:w-1/3 max-lg:h-[300px] max-lg:mt-[100px]  
           mix-blend-darken  w-[40%] h-3/5;
  }

  .ResponsiveIMG.Sign {
    @apply mt-[10px] h-2/4;
  }
}

/*----------------- Header classes --------------------*/
@layer components {
  .HeaderPics {
    @apply cursor-pointer bg-no-repeat  
      bg-center h-[30px] w-[45px] rounded-[15px]
     bg-[#FAFAF9] border-[#F2F2F1] border-[2px]
     drop-shadow-[-3px_3px_6px_rgba(0,0,0,0.2)];
  }

  .SelectedMenu {
    @apply text-[#D4AF37] border-b-4 border-[#D4AF37] transition-all;
  }
}

/*----------------- Footer classes --------------------*/
@layer components {
  .FooterIcons {
    @apply w-[35px] h-[35px] bg-no-repeat rounded-[5px] cursor-pointer;
  }
}
