@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IranSanse;
  src: url(./Font/IranSans.ttf);
}

body {
  background-color: #f5f5f4;
  font-family: IranSanse;
}

/*------------------------ Login/SignUp/ForgetPass calsses -------------------------*/
@layer components {
  .MuiButtonBase-root {
    display: none;
  }

  .InputHolder {
    @apply text-[14px] text-[#C7C7C7] transition duration-500 overflow-hidden
           drop-shadow-[-3px_3px_6px_rgba(0,0,0,0.1)] flex justify-end 
           w-[310px] h-[42px] bg-white dark:bg-Dark_ContainerBG border-2 
           border-[#F8F8F8] dark:border-Dark_Border  rounded-[10px];
  }

  .InputHolder:hover {
    @apply drop-shadow-[-3px_3px_6px_rgba(0,0,0,0.3)];
  }

  .InputHolder > input {
    @apply outline-none w-[86%] indent-[15px] focus:text-[#000000] dark:bg-Dark_InputBG_1 dark:text-Dark_TextColor_2
    transition-all duration-[0.5s];
  }

  .ResponsiveIMG {
    @apply block mt-[50px] max-md:hidden
           max-lg:w-1/3 max-lg:h-[300px] max-lg:mt-[100px]  
           mix-blend-darken  w-[40%] h-3/4;
  }

  .ShowError {
    opacity: 1;
    visibility: visible;
  }
  .HideError {
    opacity: 0;
    visibility: hidden;
  }

  /* Animations */
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(2);
      transform: scale(2);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .scale-down-center {
    -webkit-animation: scale-down-center 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

/*----------------- Header classes --------------------*/
@layer components {
  .HeaderPics {
    @apply cursor-pointer bg-no-repeat bg-[20px] 
      bg-center h-[30px] w-[45px] rounded-[15px]
     bg-[#FAFAF9] border-[#F2F2F1] border-[2px]
     drop-shadow-[-3px_3px_6px_rgba(0,0,0,0.2)];
  }

  .SelectedMenu {
    @apply text-[#D4AF37] border-b-4 border-[#D4AF37] transition-all;
  }
}

/*----------------- Footer classes --------------------*/
@layer components {
  .FooterIcons {
    @apply w-[35px] h-[35px] bg-no-repeat rounded-[5px] cursor-pointer;
  }
}

/*----------------- Statistics classes --------------------*/
@layer components {
  .StNumbers {
    @apply text-[64px] text-[#5E5E5E] block max-[1000px]:text-[50px];
  }

  .StNumbers {
    @apply text-[64px] text-[#5E5E5E] block max-[1000px]:text-[50px];
  }

  .StTexts {
    @apply text-[24px] text-[#5E5E5E] block max-[1000px]:text-[19px];
  }
}

/*----------------- Advertising classes --------------------*/
@layer components {
  .SliderSpans {
    @apply bg-[#D8D8D8] w-[14px] h-[14px] block rounded-full;
  }

  .SliderImages {
    @apply w-[60px] h-[60px] mt-[40px];
  }

  .RightLeft {
    @apply w-[24px] h-[48px] mt-[40px];
  }
}

/*----------------- News and Articles classes --------------------*/
@layer components {
  .borderStyle {
    @apply border-black border-[1px];
  }
  .RightNewsSpans {
    @apply inline-block w-[80px] h-[25px] rounded-[20px] mt-[15px] border-[#787878] border-[3px] float-right;
  }
}

/*----------------- Article Page --------------------*/
@layer components {
  /* .article:nth-child(1) {
    @apply h-[290px];
    .lastComment {
      @apply hidden;
    }
  } */

  /* Common Views */
  .view1,
  .view2,
  .view3 {
    @apply p-1 rounded-2xl shadow-3xl flex;
  }

  .view1 > div > img,
  .view2 > div > img {
    @apply h-[85px] w-full rounded-2xl;
  }
  .view1 > div > h2,
  .view2 > div > h2,
  .view3 > div > h2 {
    @apply text-textColor px-2 text-base my-2;
  }

  .view1 > div > p,
  .view2 > div > p,
  .view3 > div > p {
    display: -webkit-box;
    max-width: 240px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #9a9a9a;
    font-size: 11px;
  }

  .view1 > div > div,
  .view2 > div > div,
  .view3 > div > div {
    @apply flex my-2 px-2;
  }
  .view1 .author,
  .view2 .author,
  .view3 .author {
    @apply flex gap-2 w-[75%] items-center;
  }

  .view1 .author > img,
  .view2 .author > img,
  .view3 .author > img {
    @apply w-9 h-9 rounded-lg;
  }
  .view1 .author > span,
  .view2 .author > span,
  .view3 .author > span {
    @apply text-[11px] text-textMidColor;
  }
  .view1 .score,
  .view2 .score,
  .view3 .score {
    @apply flex gap-2 text-[11px] text-textMidColor;
  }
  .view1 .comment,
  .view1 .like,
  .view2 .comment,
  .view2 .like {
    @apply flex justify-between text-[11px] text-textMidColor;
  }
  .view1 .comment span,
  .view1 .like span,
  .view2 .comment span,
  .view2 .like span {
    @apply w-1/2;
  }
  .view1 .comment img,
  .view1 .like img,
  .view2 .comment img,
  .view2 .like img {
    @apply w-[18px] h-[18px];
  }
  .view1 .date,
  .view2 .date,
  .view3 .date {
    @apply flex items-center justify-between;
  }
  .view1 .date > img,
  .view2 .date > img,
  .view3 .date > img {
    @apply w-[18px] h-[18px] text-textMidColor text-[10px];
  }
  .view1 .date > span,
  .view2 .date > span,
  .view3 .date > span {
    @apply text-textMidColor text-[10px];
  }
  .view1 .date > div,
  .view2 .date > div,
  .view3 .date > div {
    @apply w-[1px] h-3 bg-textMidColor;
  }

  /* Diffrent View */

  .view1,
  .view2 {
    @apply flex-col w-[225px];
  }
  .view3 {
    @apply h-[290px] w-[500px] flex-row-reverse gap-2;
  }
  .view3 > div {
    @apply w-1/2 rounded-2xl pr-4;
  }
  .view3 > div > img {
    @apply h-full w-full rounded-xl;
  }
  .view3 > div > div {
    @apply flex-col gap-2 my-2 px-2;
  }
  .view3 .author {
    @apply mt-4;
  }
  .view1 .score,
  .view2 .score {
    @apply flex-col w-[25%];
  }
  .view3 .score {
    @apply flex-row justify-between w-[100px];
  }
  .view3 .comment,
  .view3 .like {
    @apply flex gap-3 text-[11px] text-textMidColor;
  }
  .view1 {
    @apply h-[290px];
  }
  .view1 .lastComment {
    @apply hidden;
  }
  .view2 {
    @apply h-[480px];
  }

  .view2 > div > div {
    @apply my-6;
  }
  .view2 .lastComment {
    @apply text-textMidColor text-[10px] flex flex-col;
  }
  .view2 .lastComment > p {
    @apply mt-4 mb-1;
  }
  .view2 .lastComment > .child {
    @apply relative h-[100px];
  }
  .view2 .lastComment > .child > div {
    @apply border-2 absolute border-[#e9ecef] rounded-xl p-0.5;
  }
  .view2 .lastComment > .child > div > div {
    @apply flex items-center gap-1;
  }
  .view2 .lastComment img {
    @apply w-[30px] h-[30px] rounded-lg;
  }
  .view2 .lastComment > .child > div > span {
    @apply inline-block my-1.5;
  }
  .view3 .date {
    @apply flex-row;
  }
  .view3 .lastComment {
    @apply hidden;
  }

  .view1 .lastCommentView3,
  .view2 .lastCommentView3 {
    @apply hidden;
  }
  .view3 .lastCommentView3 {
    @apply text-textMidColor text-[10px] my-6  relative;
  }
  .view3 .lastCommentView3 > div {
    @apply absolute right-20 bg-white top-[-10px] w-[360px] h-[45px] border-2 border-[#F6F6F6] shadow-sm flex items-center;
  }
  .view3 .lastCommentView3 > div {
    border-radius: 10px 20px 20px 10px;
  }

  .view3 .lastCommentView3 img {
    @apply w-9 h-9 rounded-full mr-0.5;
  }
  .view3 .lastCommentView3 > div > div {
    @apply flex flex-col mr-3 leading-5;
  }
}
